$colors: (
  primary: (
    100: hsla(14, 100%, 80%, 1),
    200: hsla(14, 100%, 70%, 1),
    300: hsla(14, 100%, 60%, 1),
    400: hsla(12, 100%, 43%, 1),
    500: hsla(14, 100%, 20%, 1),
  ),
  secondary: (
    100: hsla(176, 88%, 80%, 1),
    200: hsla(176, 88%, 70%, 1),
    300: hsla(176, 88%, 60%, 1),
    400: hsla(176, 88%, 43%, 1),
    500: hsla(176, 88%, 20%, 1),
  ),
  neutral: (
    100: hsla(0, 0%, 100%, 1),
    200: hsla(0, 0%, 87%, 1),
    300: hsla(0, 0%, 80%, 1),
    700: hsla(0, 0%, 40%, 1),
    800: hsla(0, 0%, 30%, 1),
    900: hsla(0, 0%, 15%, 1),
  ),
);
