// font-size
// line-height
// margin

$type-scale: (
  xs: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
  s: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
  m: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
  l: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
  xl: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
  xxl: (
    300: 1rem,
    400: 1rem,
    500: 1rem,
    600: 1rem,
    700: 1rem,
    800: 1rem,
  ),
);
