@use "reset" as *;
@use "colors" as *;
@use "type-scale" as *;
@use "media-query" as *;
@use "mixins" as *;
@use "base" as *;
@use "typography" as *;
@use "user-actions" as *;

/*
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
 */

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }

  @each $screen-size, $font-size in $type-scale {
    @include media-query($screen-size) {
      @each $size, $value in $font-size {
        --size-#{$size}: #{$value};
      }
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: $value;
    }
    .background-#{$color}-#{$shade} {
      color: $value;
    }
  }
}
